<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="socket.io.js"></script>
  <title>{{page}}</title>
</head>

<body>
  <h1>{{title}}</h1>
  <input type="text" id="message">
  <button id="main-button">Submit</button>
  <div id="message-list"></div>
  <script>
    const socket = io('http://localhost:3001/app');

    const newMessage = (data) => {
      const p = document.createElement('p')
      const text = document.createTextNode(data);

      p.appendChild(text)
      document.querySelector('#message-list').appendChild(p);
      message.value = ''
    }

    socket.on('connect', () => {
      console.log('Connected')
    });
    socket.on('disconnect', () => {
      console.log('Disconnected')
    })
    socket.on('message', (data) => {
      console.log(data)
      newMessage(data)
    })
    document.querySelector('#main-button').addEventListener('click', () => {
      socket.emit('events', '#main-button was clicked.', (data) => {
        console.log(data)
      })

      const message = document.querySelector('#message');
      socket.emit('message', message.value, (data) => {
        newMessage(data)
      })
    })
  </script>
</body>

</html>